@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="container">
        <label for="city">Please Enter A city</label>
        <input type="text" id="city">
        <br />
        <button id="citySubmit">Submit</button>
    </div>
    <div class="d-grid gap-2" id="cityArchive">
        <!--saved cities-->
        <button type="button" class="btn btn-danger" id="clear">CLEAR MEMORY</button>
    </div>
</div>

