@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form-control container">
    <form>
        <label for="city">Please Enter A city</label>
        <input type="text" id="city" />
        <br/>
        <button id="btn-submit">Submit</button>
    </form>
</div>

